
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header .content-box {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/feature333.jpg) center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
}

.menu img {
    height: 70px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.menu button {
    padding: 6px 30px;
    background: #f13604;
    color: #fff;
    font-size: 16px;
    position: absolute;
    /*border: 0;*/
    right: 5%;
    top: 5%;
    border: #f13604;
    transition: .2s ease-out;
}

.menu button:hover {
    background: transparent;
    border: 1px solid #f13604;
    border-radius: 1px;
}

.menu button .fas {
    margin-right: 5px;
}

.banner-text {
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
    text-align: center;
}

.banner-text h2 {
    margin-top: 50px;
    font-size: 64px;
}

.banner-text p {
    font-size: 20px;
    margin: 20px 0 50px;
}

.banner-text a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #f13604;
    display: block;
    padding: 10px;
    width: 180px;
    margin: auto;
    background: #f13604;
    transition: .2s;
}

.banner-text a:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
}

/* ----- Services ----- */
.content-box {
    background-color: #f4f3ff;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

h1::after {
    content: "";
    background: #f13604;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}

.services .icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 12px;
    height: 70px;
    width: 70px;
    border: 1px solid #f13604;
    border-radius: 50%;
    color: #f13604;
}

.services p {
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    padding: 20px;
}

.services span {
    color: #f13604;
    transition: 0.2s;
}

.services .col-md-3:hover {
    background: #f13604;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.services .col-md-3:hover .icon {
    border: 1px solid #fff;
    color: #fff;
}

.services .col-md-3:hover p {
    color: #fff;
}

.services .col-md-3:hover span {
    color: #000;
}

/* ----- Features ----- */
.content-box-feat{
    background-color: #c4c4c8;
    height: 100vh;
    width: 100%;
}

.feature h2 {
    font-size: 38px;
    margin-top: 130px;
}

.feature h2::after {
    content: "";
    background: #f13604;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 50px;
    position: absolute;
    left: 17px;
}

.feature ul {
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}

.feature ul li {
    line-height: 40px;
    font-size: 18px;
    position: relative;
}

.feature ul li::after {
    content: "";
    height: 7px;
    width: 7px;
    background: #f13604;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}

.feature img {
    margin-top: 130px;
}



























